@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf) format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf) format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
/* Сброс всего автоматического падинга на сайте*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 145px;
    background-color: antiquewhite;
}

/*Основной контейнер хэдэра*/
.header{
    background-color:#D4844A;
    position: fixed;
    top: 0;          
    left: 0;         
    width: 100%;     
    z-index: 1000;   
}

/*Второстепенный контейнер хэдэра(меняю размер)*/
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}

/*Навигация хэдэра*/
.header-nav {
    display: flex; 
    justify-content: center;
    gap: 100px ;
    align-items: center;           
    padding: 10px 15px;
}
/*Настройки списка в навигации*/
.menu {
    display: flex;      /* Ссылки тоже выстраиваем в ряд */
    list-style: none;   /* Убираем маркеры (точки) */
    gap: 20px;          /* Расстояние между пунктами меню */
}

/* Оформляем ссылки в кнопки */
.menu-button {
    display:inline-block;
    padding: 12px 30px;
    background-color:#8B3A0F;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: "Montserrat";
    letter-spacing: 1.2px;

}
/* Состояние при наведении мышки */
.menu-button:hover {
    background-color: #712E0B;
    color: #FFFFFF;           
    cursor: pointer; 
    transform: translateY(-2px); /* Кнопка слегка "подпрыгнет" вверх */
}

.logo{
    margin: 0;
    padding: 0;
}

/*Основная часть страницы*/
.main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

}

.main-banner {
    background-image: url("images/banermain.svg");
    height: 550px;          
    width: calc(100% - 450px);
    margin: 0 auto;
    background-size: cover;    
    background-position: center;
    box-sizing: border-box;
    padding-top: 250px;
    opacity: 95%;
    border-radius: 10px;

}


.main-banner h1 {
    font-family: "Montserrat";
    color: #FFFFFF;      
    font-size: 50px;     
    max-width: 900px;    
    font-weight: 700;
    line-height: 1.3;    /* Расстояние между строками */
    text-shadow: 0px 7px 4px rgba(0,0,0,0.5);
    margin-left: 50px;
    text-align: left;
}

.main-p {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 550;
    color: #3D1A00;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: calc(100% - 450px);
    margin: 0 auto;
    
}

.footer{
    margin-top:60px;
    background-color: #D4844A;
    padding-top: 10px;
    padding-bottom: 20px;

}


.footer-buttons{
    display: flex;
    justify-content: left;
    gap: 140px;
    padding: 20px;
    margin-left: 55px;
}


.footer-right-block{
    display: flex;
    align-items: flex-start;

}

.footer-right-block a.logo img{
    display: block;
    position: relative;  
    top: -5px;
    width: 85%;
}

.logo-info{
    max-width: 300px;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
    color:#3D1A00;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts{
    font-family: "Montserrat";  
    color:#3D1A00;
    list-style: none;
    display: flex;
    flex-direction: column; 
    gap: 10px;              
    padding: 0;           
    margin: 0;
}

.for-users{
    font-family: "Montserrat";
    color:#3D1A00;
    list-style: none;
    display: flex;
    flex-direction: column; 
    gap: 10px;              
    padding: 0;           
    margin: 0;
}


.footer-contacts, .footer-pages{
    text-decoration: none;
    color:#3D1A00;
    font-weight: 500;
    transition: 0,3;
}

.footer-pages:hover{
    color: #8B1E19;

}

.footer-contacts:hover{
    color: #8B1E19;

}


/*Контен "О проекте" */

.about-h1{
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    color: #DF0A00;
    justify-content: left;
    padding-top: 30px;
    width: calc(100% - 350px);
    margin: 0 auto;
}


.about{
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 650;
    color: #DF0A00;
    justify-content: left;
    padding-top: 30px;
    width: calc(100% - 350px);
    margin: 0 auto;
}

.about-p {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 550;
    color: #3D1A00;
    justify-content: center;
    padding-top: 30px;
    width: calc(100% - 350px);
    margin: 0 auto;
    
}

.about-pp {
    font-family: "Montserrat";
    font-size: 25px; 
    font-weight: 550;
    color: #3D1A00;
    margin: 0;          
    padding-top: 0;  
    width: auto;        
    display: block;     
}

.combo-iconte {
    display: flex;
    align-items: flex-start;
    width: calc(100% - 350px);
    margin: 0 auto;
    padding-top: 40px;
}

.icons {
    width: 60px;        
    height: auto;
    margin-right: 25px;
    flex-shrink: 0;
}

.hight-combo-iconte{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.icons-logo{
    width: 180px;
    margin-left: 50px ;
}

.about-h2{
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 650;
    color: #DF0A00;
    padding-top: 50px;
    padding-left: 40px;
    max-width:900px ;

}

/*Контен "Ресурсы" */

.references{
    display: block;
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 550;
    color: #3D1A00;
    justify-content: center;
    padding-top: 20px;
    width: calc(100% - 350px);
    margin: 0 auto;
    transition: 0,3;
    
}
.references:hover{
    color:#DF0A00;
}


/*Контен "Участники" */

.members-h1{
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    color: #DF0A00;
    justify-content: left;
    padding-top: 30px;
    padding-bottom: 50px;
    width: calc(100% - 350px);
    margin: 0 auto;
}

.member-box{
    display: flex;
    width: calc(100% - 350px);
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.member-foto{
    width: 230px;
}

.resume{
    padding-left: 30px;
    padding-top: 40px;
}

.fio{
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 650;
    color: #DF0A00;
    justify-content: center;
    padding-bottom: 20px;
}

.info_member{
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 550;
    color: #3D1A00;
}

/*Контен "Новости" */

.news-h1{
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    color: #DF0A00;
    justify-content: left;
    padding-top: 30px;
    padding-bottom: 30px;
    width: calc(100% - 350px);
    margin: 0 auto;
}

.dashboard{
    background-color: #F3DEC6;
    border-radius: 20px;
    padding: 40px;
    width: calc(100% - 350px);
    margin: 0 auto;
    margin-bottom: 30px;
}

.avatarname{
    display: flex;
}

.avatar{
    width: 60px;
    
}

.name-user{
    padding-left: 10px;
    padding-top: 7px;
}

.user{
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 650;
    color: #DF0A00;
    padding-bottom: 3px;
}

.date-posting{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    color: #8B1E19;
    padding-left: 2px;

}

.fotos-post-img{
    padding-left: 10px;
}

.fotos-post{
    padding-top: 20px;
}

.text-post{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 550;
    color: #8B1E19;
    justify-content: center;
    padding-top: 10px;
    margin: 0 auto;
    padding-left: 9px;

}

.divider{
    border: none;
    border-top: 3px solid #E1B08C;
    margin-top: 30px;
    width: 100%;

}